Options -Indexes
SetEnvIf Authorization "(.+)" HTTP_AUTHORIZATION=$1
<IfModule mod_headers.c>
 Header always set Cache-Control "no-store"
 Header always set X-Content-Type-Options "nosniff"
</IfModule>
